
<div>

<h3>用户帐号</h3>

<p>只有注册用户才有在道语言官方网站上发表评论和论坛上发帖的权限。

<p>每个注册用户将自动获得包含博客和论坛功能的Web空间<br/>
(http://@(host)/space/username)。

<h3>注册帐号</h3>

<p>在左侧小框里点击注册按钮，即可在输入用户名密码后再输入确认密码注册。
有效的用户名字母和数字组成，有效密码必须不少于6个字符。

<p>注册成功后，将自动登录，这时可点击左侧小框里的自己的用户名进入自己
的Web空间。在自己的Web空间里，左侧将出现修改用户资料的选项，
点击该选项将可以修改自己的有关资料，或修改密码。

<p>非常建议用户将自己的email地址
填写上，这将方便寻回遗忘的密码，另外也将能享受将来有可能新增的功能。
在公共可见的信息里，可同时填写中文和英文（如国家：中国China），
它们将分别在网页语言为中文或英文是显示其中文部分或英文部分。

<p>daovm.net保证不公开用户的私人资料。

<h3>寻回密码</h3>

如果用户在个人资料里填写了email，可在下面填写用户名，并请求发送
密码到信箱：
<form name="user_data" method="post" enctype="multipart/form-data"
action="/ajax_server/?ajax=password">
<input type="hidden" name="sendpwd" value=""/>
$(username):<input type="text" name="username" value=""/>
<input type="submit" id="submit" value="$(send)"/>
</form>
<h3>使用条款</h3>

<p>在任何情况下，用户发表文章和评论时，必须避免政治性话题，
避免使用污秽或带人身攻击的语言。

<p>在未作特别说明的情况下，用户在本网站发表文章和评论等的行为适用以下原则：
<ol>
<li>在未获得授权的情况下，用户不得发表侵害他人版权的作品。
<li>用户在本网站所发的博客和论坛文章和评论等，用户自己享有版权。
<li>对于用户在本网站上发布的内容，本网站将自动获得授权在本网站使用。
<li>本网站对于用户导致的侵权行为不负有任何责任。
</ol>
本网站有权封禁违规话题和用户。

</div>
